@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witcher-battle</h1>
    <p>Witcher TRPG battle helper</p>
</div>


<div class="container">
    <a asp-controller="Login" asp-action="Index">Login/Register</a>
</div>

<p>Hello, @ViewData["Name"]</p>

<div class="container">
    <a asp-controller="Game" asp-action="Index">Game base</a>
</div>
