@{
    ViewData["Title"] = "Login/Register Page";
}

<div class="container">
    <a asp-controller="Login" asp-action="RegisterUser">Register</a>
</div>
<div class="container">
    <a asp-controller="Login" asp-action="Login">Log in</a>
</div>