@model Witcher.MVC.ViewModels.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h3>К сожалению, что-то пошло не так.</h3>

<div class="prokrutka" id="scroll">
    <span style="white-space: pre-line">@Model.Message</span>
</div>