@model Witcher.MVC.Areas.Login.ViewModels.SuccessfulRegistration

@{
    ViewData["Title"] = "Successful Registration";
}

<h1>View</h1>

<div>
    <h4>Successful Registration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Return</a>
</div>
